langchain
langchain-core
langchain-community
langchain-groq 
langchain-huggingface 
langchain-chroma
langchain-text-splitters
langchain-classic
langgraph

groq 

docling

torch
transformers
sentence-transformers

chromadb
rank-bm25

pydantic-settings

python-dotenv
loguru

streamlit