langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface 
langchain-chroma
langchain-text-splitters
langchain-classic
langchain-mcp-adapters
langchain-tavily
langgraph

tavily-python

mcp[cli]
a2a-sdk

openai

docling

torch
transformers
sentence-transformers

huggingface_hub[hf_xet]

chromadb
rank-bm25

pydantic-settings

pytest
pytest-asyncio

python-dotenv
loguru
httpx

streamlit